/*
*
* CSS Reset
*
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules
*
*/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: snow;
}

/*div.container {
	
}*/


main {
	min-height: 80vh;
	/*background-color: white;*/
	padding-top: 50px;

}

header {
	/*min-height: 10vh;*/
	background-color: chocolate;
}

main > div.right,
main > div.left {
	min-height: 100vh;
	color: black;
}

main > div.left {
	text-align: center;
	padding-left: 15px;
}

main > div.right {
	padding-left: 25px;
}


footer {
	min-height: 20vh;
	/*background-color: orange;*/
}



[id^="col"] {
	/*min-height: 30vh;*/
}


.row:after {
	content: "";
	display: block;
	clear: both;
}



/*
*
* Custom CSS Fluid Grid System
*
*/
.container {
	width: 80vw;
	margin: 0 auto;	
}

.container-fluid {
	width: 100vw;
}


[class*="col"] {
	float: left;
}

/*.row1 {
	background-color: yellow;
}

.row2 {
	background-color: pink;
}

.row3 {
	background-color: indigo;
}

.row4 {
	background-color: magenta;
}

.row5 {
	background-color: yellow;
}

.row6 {
	background-color: pink;
}*/



/*
*
* Desktop Devices
*
*/

@media only screen and (min-width: 961px) {

	hr {
		margin-bottom: 20px;
	}

	nav {
		/*background-color: black;*/
		padding-top: 15px;
		padding-bottom: 15px;

	}
	nav	> ul {
		list-style-type: none;
		text-align: center;
	}

	nav > ul > li {
		display: inline;
		padding-left: 5px;
		padding-right: 5px;
		letter-spacing: 1px;
		word-spacing: 1px;

	}

	nav > ul > li > a {
		text-decoration: none;
		color: white;
		text-align: center;
		padding: 10px;
	}


	main > div.left > div.left1 > img,
	main > div.left > div.left2 > img,
	main > div.left > div.left3 > img {
		width: 100%;
		margin-bottom: 20px;
	}

	main > div.left > div.left1 > h1 {
		font-style: italic;
		font-size: 30px;
		color: red;
		margin-bottom: 20px;	
	}

	main > div.left > div.left1 > p {
		margin-bottom: 20px;
	}


	main > div.left > div.left1 > textarea {
		display: block;
		margin-bottom: 20px;
		width: 70%;
		height: 50px;
		margin-top: 21px;
		margin-left: 6px;
	}

	main > div.left > div.left2 {
		padding: 10px;
	}

	main > div.left > div.left2 > div.scroll {
		border: 1px solid black;
		height: 250px;
		overflow: scroll;
	}

	main > div.left > div.left2 > div > button {
		border: 1px solid black;
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
	}

	main > div.left > div.left2,
	main > div.left > div.left3.
	main > div.left > div.left4 {
		border-bottom: 1px solid red;
	} 

	
	main > div.left > div.left3 > h2,
	main > div.left > div.left4 > h2 {
		margin-top: 15px;
		margin-bottom: 15px;
		font-style: italic;
		color: red;
		font-size: 20px;

	}

	main > div.left > div.left3 > div {
		margin-bottom: 15px;
	}

	main > div.left > div.left3 > div > img {
		float:left;
		width: 50%;
		padding-right: 10px;
	}

	main > div.left > div.left3 > div > p {
		text-align: justify;
	}

	main > div.left > div.left3 > div > p > a {
		text-decoration: none;
		
	}

	main > div.left > div.left3 > div > p > a:hover {
		text-decoration: underline;
	}

	main > div.left > div.left4 > ul {
		list-style-type: none;
	}

	main > div.left > div.left4 > ul > li {
		text-align: left;
		border-bottom: 1px solid black;
		padding-bottom: 15px;
		padding-top: 15px;

	}

	main > div.left > div.left4 > ul > li:last-child {
		border-bottom: none;
	}

	main > div.left > div.left4 > ul > li > a {
		color: black;
		text-decoration: none;
	}


	main > div.right > div {
		margin-top: 30px;
		border: 5px solid sandybrown;
		background-color: white;
	}

	main > div.right > div.box {
		padding: 20px;
	}

	main > div.right > div.box > div > h2 {
		font-family: 'Lato', sans-serif;
		font-size: 25px;
		float: left;
		font-style: italic;
		color: red;
	}

	main > div.right > div.box > div > a.heart {
		float: right;
		font-size: 35px;
		display: block;
		color: red;
	}

	main > div.right > div.box > span {
		font-size: 15px;
		display: block;
		
	}

	main > div.right > div.box > div.content {
		padding-top: 20px;
	}

	main > div.right > div.box > div.content > div.image {
		width: 25%;
		float: left;
	}

	main > div.right > div.box > div.content > div.details {
		width: 73%;
		float: left;
		
	}

	main > div.right > div.box > div.content > div.image > img {
		width: 100%;
		padding-right: 10px;
	}

	main > div.right > div.box > div.content > div.details > a.continue {
		float: right;
		text-align: right;
		color: white;
		padding: 5px;
		text-decoration: none;
		background-color: saddlebrown;
		letter-spacing: 1px;
		margin-top: 10px;
		text-transform: uppercase;
		font-size: 10px;
	}

	main > div.right > div.box > div > p {
		overflow: hidden;
		padding-bottom: 25px;

	}

	main > div.right > footer {
		margin-top: 30px;
	}



	main > div.right > footer > div > a {
		text-align: center;
		display: block;
	}

	main > div.right > footer > div > a,
	main > div.right > footer > div > p > a {
		text-decoration: none;
		color: black;
	}

	main > div.right > footer > div > a:hover,
	main > div.right > footer > div > p > a:hover {
		text-decoration: underline;
	}

	main > div.right > footer > div > p {
		padding-top: 40px;
	}

	main > div.right > footer > div > p:last-child {
		padding-left: 80px;
		font-size: 15px;
	}



	.col-lg-1 {
		width: 8.33%; /* 100% / 12 = 8.33% */
	}

	.col-lg-2 {
		width: 16.66%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33.33%;
	}

	.col-lg-5 {
		width: 41.66%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-7 {
		width: 58.33%;
	}

	.col-lg-8 {
		width: 66.66%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-10 {
		width: 83.33%;
	}

	.col-lg-11 {
		width: 91.66%;
	}

	.col-lg-12 {
		width: 100%;
	}	
}




/*
*
* Tablet Devices
*
*/

@media only screen and (min-width: 401px) and (max-width: 960px) {

	.container {
		width: 100vw;
	}

	
	nav {
		padding-top: 15px;
		padding-bottom: 15px;
		width: 100%;
	}

	nav	> ul {
		list-style-type: none;
		text-align: center;
	}

	nav > ul > li {
		display: inline;
		padding-left: 5px;
		padding-right: 5px;
		letter-spacing: 1px;
		word-spacing: 1px;

	}

	nav > ul > li > a {
		text-decoration: none;
		color: white;
		text-align: center;
		padding: 10px;
	}


	main > div.left > div.left1 > img,
	main > div.left > div.left2 > img,
	main > div.left > div.left3 > img {
		width: 100%;
		margin-bottom: 20px;
	}

	main > div.left > div.left1 > h1 {
		font-style: italic;
		font-size: 30px;
		color: red;
		margin-bottom: 20px;	
	}

	main > div.left > div.left1 > p {
		margin-bottom: 20px;
	}


	main > div.left > div.left1 > textarea {
		display: block;
		margin-bottom: 20px;
		width: 70%;
		height: 50px;
		margin-top: 21px;
		margin-left: 6px;
	}

	main > div.left > div.left2 {
		padding: 10px;
	}

	main > div.left > div.left2 > div.scroll {
		border: 1px solid black;
		height: 250px;
		overflow: scroll;
	}

	main > div.left > div.left2 > div > button {
		border: 1px solid black;
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
	}

	main > div.left > div.left2,
	main > div.left > div.left3.
	main > div.left > div.left4 {
		border-bottom: 1px solid red;
	} 

	
	main > div.left > div.left3 > h2,
	main > div.left > div.left4 > h2 {
		margin-top: 15px;
		margin-bottom: 15px;
		font-style: italic;
		color: red;
		font-size: 20px;

	}

	main > div.left > div.left3 > div {
		margin-bottom: 15px;
	}

	main > div.left > div.left3 > div > img {
		float:left;
		width: 50%;
		padding-right: 10px;
	}

	main > div.left > div.left3 > div > p {
		text-align: justify;
	}

	main > div.left > div.left3 > div > p > a {
		text-decoration: none;
		
	}

	main > div.left > div.left3 > div > p > a:hover {
		text-decoration: underline;
	}

	main > div.left > div.left4 > ul {
		list-style-type: none;
	}

	main > div.left > div.left4 > ul > li {
		text-align: left;
		border-bottom: 1px solid black;
		padding-bottom: 15px;
		padding-top: 15px;

	}

	main > div.left > div.left4 > ul > li:last-child {
		border-bottom: none;
	}

	main > div.left > div.left4 > ul > li > a {
		color: black;
		text-decoration: none;
	}


	/*main > div.right > div {
		margin-top: 30px;
		border: 5px solid sandybrown;
		background-color: white;
	}*/

	main > div.right > div.box {
		padding: 20px;
	}

	main > div.right > div.box > div > h2 {
		font-family: 'Lato', sans-serif;
		font-size: 25px;
		/*float: left;*/
		font-style: italic;
		color: red;
		text-align: left;
	}

	main > div.right > div.box > div > a.heart {
		float: right;
		font-size: 35px;
		display: block;
		color: red;
	}

	main > div.right > div.box > span {
		font-size: 15px;
		display: block;
		
	}

	main > div.right > div.box > div.content {
		padding-top: 20px;
	}

	main > div.right > div.box > div.content > div.image {
		width: 25%;
		float: left;
	}

	main > div.right > div.box > div.content > div.details {
		width: 73%;
		float: left;
		
	}

	main > div.right > div.box > div.content > div.image > img {
		width: 100%;
		padding-right: 10px;
	}

	main > div.right > div.box > div.content > div.details > a.continue {
		float: right;
		text-align: right;
		color: white;
		padding: 5px;
		text-decoration: none;
		background-color: saddlebrown;
		letter-spacing: 1px;
		margin-top: 10px;
		text-transform: uppercase;
		font-size: 10px;
	}

	main > div.right > div.box > div > p {
		overflow: hidden;
		padding-bottom: 25px;

	}

	main > div.right > footer {
		margin-top: 30px;
	}



	main > div.right > footer > div > a {
		text-align: center;
		display: block;
	}

	main > div.right > footer > div > a,
	main > div.right > footer > div > p > a {
		text-decoration: none;
		color: black;
	}

	main > div.right > footer > div > a:hover,
	main > div.right > footer > div > p > a:hover {
		text-decoration: underline;
	}

	main > div.right > footer > div > p {
		padding-top: 40px;
	}

	main > div.right > footer > div > p:last-child {
		padding-left: 80px;
		font-size: 15px;
	}

	
	.container {
		width: 100vw;
	}

	.col-md-1 {
		width: 8.33%; /* 100% / 12 = 8.33% */
	}

	.col-md-2 {
		width: 16.66%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.33%;
	}

	.col-md-5 {
		width: 41.66%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-8 {
		width: 66.66%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-10 {
		width: 83.33%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-12 {
		width: 100%;
	}
}

/*
*
* Mobile Devices
*
*/

@media only screen and (max-width: 400px) {

	

	.container {
		width: 100vw;
	}

	.col-sm-1 {
		width: 8.33%; /* 100% / 12 = 8.33% */
	}

	.col-sm-2 {
		width: 16.66%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.33%;
	}

	.col-sm-5 {
		width: 41.66%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-7 {
		width: 58.33%;
	}

	.col-sm-8 {
		width: 66.66%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-10 {
		width: 83.33%;
	}

	.col-sm-11 {
		width: 91.66%;
	}

	.col-sm-12 {
		width: 100%;
	}
}


